# This is Git's per-user configuration file.
[user]
	name = M-Mueller
	email = M-Mueller@users.noreply.github.com
[core]
	editor = nvim
	excludesfile = ~/.gitignore
[color]
	ui = auto
[alias]
	ci = commit
	co = checkout
	st = status
	cof = !git checkout $(git branch -a | fzf | sed 's%remotes/[^/]*/%%')
	glog = log --graph --oneline --decorate
	slog = log --oneline --decorate
[push]
	default = simple
[credential]
	helper = libsecret
[diff]
	tool = kdiff3
[difftool "kdiff3"]
	path=kdiff3-qt
[merge]
	tool = kdiff3
[mergetool "kdiff3"]
	path=kdiff3-qt
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[cola]
	spellcheck = true
	tabwidth = 4
	expandtab = false
	theme = default
