# This is Git's per-user configuration file.
[user]
	name = M-Mueller
	email = M-Mueller@users.noreply.github.com
[core]
	editor = nvim
	excludesfile = /home/markus/.gitignore
[color]
	ui = auto
[alias]
	ci = commit
	co = checkout
	st = status
[push]
	default = simple
[credential]
	helper = libsecret
[diff]
	tool = kdiff3
[difftool "kdiff3"]
	path=kdiff3-qt
[merge]
	tool = kdiff3
[mergetool "kdiff3"]
	path=kdiff3-qt
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
